body {
  background-color: lightskyblue;
}

.column{
  display: inline-block;
  width: 5em;
  margin: auto;
  text-align: left;
  background-color: lightblue;
}

.boat{
  display: inline-block;
  width: 5em;
  margin: auto;
  text-align: left;
  background-color: lightblue;
}