body {
  background-color: black;
  background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/991980/358a386454e9a2ddc3d906fbab272767b54584c9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
 
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

span{
  margin: 0 auto;
  padding:0 auto;
  width:10%;
  height: 10%;
  border-radius: 6px;
  display: block;
}

.column{
  display: inline-block;
  width: 10%;
  height:10%;
  margin: 0 auto;
  padding:0 auto;
  text-align: center;
  background-color: lightblue;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.boat{
  display: inline-block;
  width: 5em;
  height:3em;
  margin: 0 auto;
  padding:0 auto;
  text-align: center;
  background-color: lightblue;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.little-boom{
  display: inline-block;
  width: 5em;  
  height:3em;
  margin: 0 auto;
  padding:0 auto;
  text-align: center;
  background-color: orange;
  /*background-image: url("")*/;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.boom{
  display: inline-block;
  width: 5em;  
  height:3em;
  margin: 0 auto;
  padding:0 auto;
  text-align: center;
  background-color: red;
  /*background-image: url("")*/;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#base{
  height:100vh ;
  width: 100vh;
}